<div class="relative min-h-screen bg-[rgb(5,5,30)] flex items-center justify-center overflow-hidden flex-col ">
          <div class="absolute top-0 left-0 h-full ">
            <img class="h-full w-1/2" src="../../assets/background/O7ivTAsddzoTx5HgYk8f5vYxGrY.webp" alt="">
          </div>
          <div class="absolute top-0 -right-56 h-full">
             <img class="h-full w-1/2" src="../../assets/background/O7ivTAsddzoTx5HgYk8f5vYxGrY.webp" alt="">
          </div>
          <div class="absolute top-0 left-0 w-full h-full">
              <img class="w-full h-full" src="../../assets/background/Group 1179.svg" alt="">
          </div>
          <div class="z-10 bg-[rgba(15,15,44,0.55)] p-6 rounded-lg flex flex-col items-center">
            <!-- title de  -->
            <h1 class="text-2xl mb-4 text-white text-center">
              Téléchargez vos vidéos YouTube sans pub, gratuitement </h1>
            <p class="text-gray-300">Copiez le lien.</p>

            <!-- formumlaire  -->
            <form class="w-full p-4">
                 <input [formControl]="searchControl"  class="w-full p-3 outline-none rounded-xl">
                 <!-- Message d'erreur lorsque la requete n'est pas bien reusie -->
                 <div *ngIf="errorRequete">
                  <p class="text-red-500 p-2"> verifier votre connexion ou l'URL est incorrect </p>
                 </div>

                 <!-- ANIMATION DE LOADER -->
                 <div *ngIf="load && !isDisable " class="flex justify-center p-4">
                  <div class="w-14 h-14 border-r-2 border-l-2 rounded-full animate-spin"></div>
                 </div>
            </form>
            <!-- verifier si la requete est envoyer avant d'afficher-->
            <div *ngIf="thumbnailUrl" class="w-[300px] rounded-sm h-auto">
                  <img class="w-full rounded-lg" [src]="thumbnailUrl" alt="">
                  <!-- Title de la video -->
                   <div *ngIf="thumbnailUrl" class="p-2">
                     <p class="text-white">{{title}}</p>
                   </div>
                  <button [disabled]="isDisable" (click)="download()" class="text-white p-2 mt-2 rounded-xl w-full bg-gradient-to-r  from-[hsl(230,38%,25%)] to-[hsl(0,0%,82%)]">Télécharger</button>
                  <!-- Animation de loadVideo Lorsque la requete est entrain d'etre envoyer pour téléchager la video -->
                   <div *ngIf="loadVideo"  class="flex justify-center p-6 animate-bounceY ">
                      <div class="flex space-x-2">
                         <div *ngFor="let dot of dots; let i = index"
                          [ngClass]="{'animate-bounceY': isAnimating}"
                          [style.animationDelay]="isAnimating ? (i * 0.1) +'s' : ''"
                          class="w-2 h-2 bg-white rounded-full"
                         > 

                         </div>
                      </div>
                   </div>
                   <!-- Message lorsque le téléchargement success -->
                    <div *ngIf="success" class="flex justify-center p-4">
                        <p>Téléchargement réussi !</p>
                    </div>

                  <!-- Message d'erreur lorsque le téléchargement echoue -->
                  <div *ngIf="loadVideoError">
                    <p class="p-2 text-red-300">{{messageError}}</p>
                  </div>
            </div>
            <div *ngIf="progress > 0 && progress < 100 " class="text-slate-300 w-[300px] res:w-[200px] " >
              <p class="text-gray-200 text-center"> {{progress}}%</p>
              <mat-progress-bar class="my-4 bg-gray-200 rounded-lg shadow-md w-full p-2" mode="determinate" value="{{progress}}">{{progress}}</mat-progress-bar>
  
           </div>
          </div>
        
          <div class="absolute bottom-4 left-4">
            <p class="text-gray-300 res:text-sm">
              Copyright © - Tous droits réservés. </p>
          </div>
</div>
